body{
    margin: 0;
    color: rgb(218, 218, 218);
    background: #232323;
    background-repeat: no-repeat;
    height: 100vh;
}
@font-face {
    font-family: "Firacoderegular";
    src: url("./Firacoderegular.ttf");
}

@font-face {
    font-family: "SFProDisplay-Thin";
    src: url("./SFProDisplay-Thin.ttf");
}

@font-face {
    font-family: "SFProDisplay-Regular";
    src: url("./SFProDisplay-Regular.ttf");
}

.main{
    display: flex;
    flex-direction: column
}

.yarn{
    color: rgb(163, 163, 163)
}

.tympanus{
    font-family: "SFProDisplay-Thin";
    text-decoration: none;
    font-size: 18px;
    color: rgb(218, 218, 218);
}

span{
    color:#499bb2
}

.install{
    margin-top: -5px;
    font-family: "Firacoderegular";
    border: 1px solid transparent;
    border-radius: 3px;
    background: #363636;
    width: 290px;
    font-size: 16px;
    line-height: 5px;
    padding-left: 10px
}

.toggleSelect{
    width: 200px;
    margin-top: -20px;
    margin-bottom: 40px;
    color: rgb(73, 73, 73)
}

.btnTinder{
    margin-top: 90px;
    margin-left: 145px;
    border-radius: 100px;
    border: none;
    height: 60px;
    width: 60px;
    background: #cdda54;
    cursor: pointer;
}

h1{
    font-size: 28px;
}
h2{
    font-size: 18px;
    width: 250px;  
}

.tgl {
    display: none;
  }
  .tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
    box-sizing: border-box;
  }
  .tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
    background: none;
  }
  .tgl + .tgl-btn {
    outline: 0;
    display: block;
    width: 3em;
    height: 1.5em;
    position: relative;
    cursor: pointer;
    user-select: none;
  }
  .tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
  }
  .tgl + .tgl-btn:after {
    left: 0;
  }
  .tgl + .tgl-btn:before {
    display: none;
  }
  .tgl:checked + .tgl-btn:after {
    left: 50%;
  }
  .tgl-light + .tgl-btn {
    margin-left: 140px;
    margin-top: 44px;
    width: 70px;
    height: 35px;
    background: #d3d3d3;
    border-radius: 2em;
    padding: 2px;
    transition: all 0.4s ease;
  }
  .tgl-light + .tgl-btn:after {
    border-radius: 50%;
    background: #fff;
    transition: all 0.2s ease;
  }
  .tgl-light:checked + .tgl-btn {
    background: #81cf96;
  }

  .git{
      height: 32px;
  }

  .checked{
      height: 32px;
  }

@media screen and (min-width: 1520px){ 
    
    .header{
        display: flex;
    }
    
    .headerIntro{
        font-family: "SFProDisplay-Thin";
        margin: 84 0 0 100; 
        border-bottom: 4px solid grey;
        height: 155px;
        width: 350px;
    }
   
    .headerNpm{
        margin: 80 0 0 124; 
    }
    
    .howToInst{
        font-family: "SFProDisplay-Regular";
        font-size: 20px;
    }
    
    .cards{
        margin: 64 0 0 100;
        display: flex;
        flex-direction: row;
    }
    
    .animationName{
        color: #ffbc6b;
        font-family: "Firacoderegular";
        font-size: 20px;
        margin-bottom: 64px;
    }

    .tinderLikeDiv{
        margin-left: 115px;
    }
    
    .tinder{
        margin-top: -60px;
    }
    
    .stack{
        margin-left: 115px;
    }
    
    .footer{
        clip-path: polygon(100% 6%, 0 100%, 100% 100%);
        background: #fff;
        width: 400px;
        height: 250px;
        margin: -102 0 0 1;
        align-self: flex-end;
        color: #000;
    }
    .powered{
        font-family: "SFProDisplay-Regular";
        font-size: 18px;
        margin-top: 170px;
        margin-left: 150px;
        margin-bottom: 10px;
    }
    
    .footerA{
        font-family: "SFProDisplay-Regular";
        text-decoration: none;
        font-size: 16px;
        color: #000;
        align-self: center;
        margin-left: 10px;
    }
    
    .link{
        display: flex;
        flex-direction: row;
        margin-left: 222px;
    }
    
}

@media screen and (min-width: 1361px) and (max-width: 1520px){
    
    .header{
        display: flex;
    }
    
    .headerIntro{
        font-family: "SFProDisplay-Thin";
        margin: 54 0 0 100; 
        border-bottom: 4px solid grey;
        height: 155px;
        width: 350px;
    }

    .headerNpm{
        margin: 50 0 0 124; 
    }
    
    .howToInst{
        font-family: "SFProDisplay-Regular";
        font-size: 20px;
    }
    
    .cards{
        margin: 44 0 0 100;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap
    }
    
    .animationName{
        color: #ffbc6b;
        font-family: "Firacoderegular";
        font-size: 20px;
        margin-bottom: 64px;
    }
        
    .tinderLikeDiv{
        margin-left: 75px;
    }
    
    .tinder{
        margin-top: -60px;
    }

    .stack{
       margin-left: 75px;
    }
    
    .footer{
        clip-path: polygon(100% 6%, 0 100%, 100% 100%);
        background: #fff;
        width: 400px;
        height: 240px;
        margin: -46 0 0 1;
        align-self: flex-end;
        color: #000;
    }
    .powered{
        font-family: "SFProDisplay-Regular";
        font-size: 18px;
        margin-top: 160px;
        margin-left: 150px;
        margin-bottom: 5px;
    }
    
    .footerA{
        font-family: "SFProDisplay-Regular";
        text-decoration: none;
        font-size: 16px;
        color: #000;
        align-self: center;
        margin-left: 10px;
    }
    
    .link{
        display: flex;
        flex-direction: row;
        margin-left: 222px;
    }
}

@media screen and (min-width: 1100px) and (max-width: 1360px){ 
    
    .header{
        display: flex;
    }
    
    .headerIntro{
        font-family: "SFProDisplay-Thin";
        margin: 84 0 0 100; 
        border-bottom: 4px solid grey;
        height: 155px;
        width: 350px;
    }
   
    .headerNpm{
        margin: 80 0 0 124; 
    }
    
    .howToInst{
        font-family: "SFProDisplay-Regular";
        font-size: 20px;
    }

    .cards{
        margin: 64 0 0 100;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap
    }
    
    .animationName{
        color: #ffbc6b;
        font-family: "Firacoderegular";
        font-size: 20px;
        margin-bottom: 64px;
    }
      
    .tinderLikeDiv{
        margin-left: 144px;
    }
    
    .tinder{
        margin-top: -60px;
        margin-right: 100px;
    }
    
    .stack{
       margin-top: 64px;
    }
    
    .footer{
        clip-path: polygon(100% 6%, 0 100%, 100% 100%);
        background: #fff;
        width: 400px;
        height: 280px;
        margin: -135 0 0 1;
        align-self: flex-end;
        color: #000;
    }
    .powered{
        font-family: "SFProDisplay-Regular";
        font-size: 18px;
        margin-top: 200px;
        margin-left: 150px;
        margin-bottom: 10px;
    }
    
    .footerA{
        font-family: "SFProDisplay-Regular";
        text-decoration: none;
        font-size: 16px;
        color: #000;
        align-self: center;
        margin-left: 10px;
    }
    
    .link{
        display: flex;
        flex-direction: row;
        margin-left: 222px;
    }
}

@media screen and (min-width: 925px) and (max-width: 1110px){
    
    .header{
        display: flex;
    }
    
    .headerIntro{
        font-family: "SFProDisplay-Thin";
        margin: 64 0 0 80; 
        border-bottom: 4px solid grey;
        height: 155px;
        width: 350px;
    }
  
    .headerNpm{
        margin: 60 0 0 124; 
    }
    
    .howToInst{
        font-family: "SFProDisplay-Regular";
        font-size: 20px;
    }
    
    .cards{
        margin: 64 0 0 80;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap
    }
    
    .animationName{
        color: #ffbc6b;
        font-family: "Firacoderegular";
        font-size: 20px;
        margin-bottom: 64px;
    }
    
    .tinderLikeDiv{
        margin-left: 80px;
    }
    
    .tinder{
        margin-top: -60px;
    }
    
    .stack{
       margin-top: 64px;
    }
    
    .footer{
        clip-path: polygon(100% 6%, 0 100%, 100% 100%);
        background: #fff;
        width: 400px;
        height: 280px;
        margin: -135 0 0 1;
        align-self: flex-end;
        color: #000;
    }
    .powered{
        font-family: "SFProDisplay-Regular";
        font-size: 18px;
        margin-top: 200px;
        margin-left: 150px;
        margin-bottom: 10px;
    }
    
    .footerA{
        font-family: "SFProDisplay-Regular";
        text-decoration: none;
        font-size: 16px;
        color: #000;
        align-self: center;
        margin-left: 10px;
    }
    
    .link{
        display: flex;
        flex-direction: row;
        margin-left: 222px;
    }
    
    
 }
 @media screen and (min-width: 739px) and (max-width: 925px){
    
    .header{
        display: flex;
        flex-wrap: wrap;
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 40px
    }
    
    .headerIntro{
        font-family: "SFProDisplay-Thin";
        margin: auto;
        border-bottom: 4px solid grey;
        height: 155px;
        width: 300px;
    }
 
    .headerNpm{
        margin: auto; 
    }
    
    .howToInst{
        font-family: "SFProDisplay-Regular";
        font-size: 20px;
    }
    
    .cards{
        margin: 0 0 40 40;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .animationName{
        color: #ffbc6b;
        font-family: "Firacoderegular";
        font-size: 20px;
        margin-top: 64px;
        margin-bottom: 40px;
    }
    
    .toggleDiv{
        margin: auto;
        padding-right: 100px;
        padding-left: 100px;
    }
    
    .tinderLikeDiv{
        margin: auto;
        padding-right: 100px;
        padding-left: 100px;
    }
    
    .tinder{
        margin-top: -60px;
    }
    
    .stack{
        margin: auto;
        padding-bottom: 100px;
    }
    
    .footer{
        clip-path: polygon(100% 6%, 0 100%, 100% 100%);
        background: #fff;
        width: 400px;
        height: 280px;
        margin: -135 0 0 1;
        align-self: flex-end;
        color: #000;
    }
    .powered{
        font-family: "SFProDisplay-Regular";
        font-size: 18px;
        margin-top: 200px;
        margin-left: 150px;
        margin-bottom: 10px;
    }
    
    .footerA{
        font-family: "SFProDisplay-Regular";
        text-decoration: none;
        font-size: 16px;
        color: #000;
        align-self: center;
        margin-left: 10px;
    }
    
    .link{
        display: flex;
        flex-direction: row;
        margin-left: 222px;
    }
 }

 @media screen and (max-width: 739px){

    .header{
        display: flex;
        flex-wrap: wrap;
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 40px
    }
    
    .headerIntro{
        font-family: "SFProDisplay-Thin";
        margin: auto;
        border-bottom: 4px solid grey;
        height: 155px;
        width: 300px;
    }
    
    .headerNpm{
        margin: auto; 
    }
    
    .howToInst{
        font-family: "SFProDisplay-Regular";
        font-size: 20px;
    }
    
    .cards{
        margin: 0 0 40 40;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .animationName{
        color: #ffbc6b;
        font-family: "Firacoderegular";
        font-size: 20px;
        margin-top: 64px;
        margin-bottom: 40px;
    }
    
    .toggleDiv{
        margin: auto;
    }
    
    .tinderLikeDiv{
        margin: auto;
    }
    
    .tinder{
        margin-top: -60px;
    }
    
    .stack{
        margin: auto;
        padding-bottom: 100px;
    }
    
    .footer{
        clip-path: polygon(100% 6%, 0 100%, 100% 100%);
        background: #fff;
        width: 400px;
        height: 280px;
        margin: -135 0 0 1;
        align-self: flex-end;
        color: #000;
    }
    .powered{
        font-family: "SFProDisplay-Regular";
        font-size: 18px;
        margin-top: 200px;
        margin-left: 150px;
        margin-bottom: 10px;
    }
    
    .footerA{
        font-family: "SFProDisplay-Regular";
        text-decoration: none;
        font-size: 16px;
        color: #000;
        align-self: center;
        margin-left: 10px;
    }
    
    .link{
        display: flex;
        flex-direction: row;
        margin-left: 222px;
    }
 }